.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

form {
    margin-top: 3%;
    width: 40%;
    height: 2%;
    display: flex;
    flex-direction: column; 
    padding: 2%; 
    background-color: #C9C9C9;
}


form h1 {
    text-align: center;
    color: #000;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.user {
    margin-bottom: 2%;
    height: 3%;
    border: 0;
    border-radius: 7px;
    padding: 2%;
    font-size: 15px;

}

.senha {

    margin-bottom: 2%;
    height: 3%;
    border: 0;
    border-radius: 7px;
    padding: 2%;
    font-size: 15px;


}

.botao {

    margin-bottom: 2%;
    height: 3%;
    border: 0;
    border-radius: 7px;
    padding: 2%;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;

   
}

.botao:hover {

    
    font-weight: bolder;
    font-size: 17px;
    
}